/* =========================== VISUALIZAÇÃO DESKTOP GRANDE (1920x1280) =========================== */
/* -------- Definições e Variáveis Globais ------ */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #005B93;
    --cor-secundaria: #00B565;
    --cor-terciaria: #003353;
    --cor-clara: #FDFFFC;
    --cor-escura: #003E65;
    --cor-branca: #FFFFFF;

    --altura-header: 120px;
    --largura-main: 70%;
}

html { font-size: 18px; font-family: 'Inter Tight'; }

/* ------------ Header e Navegação -------------- */
body { padding-top: var(--altura-header); }
header {
    position: fixed; top: 0; left: 0;
    z-index: 1;
    width: 100%; height: var(--altura-header);
    padding: 0px 70px;
    display: flex; flex-flow: row wrap;
    justify-content: space-between; align-items: center;
    background-color: var(--cor-branca);
}

header img { width: 300px; }
header p { font-size: 1rem; font-weight: 600; }
header a, header a:visited, header a:link, header a:hover, header a:active { color: var(--cor-primaria); text-decoration: none; }

nav {
    display: flex; flex-flow: row wrap;
    column-gap: 40px;
}

/* ------------- Banner Principal --------------- */
figure {
    height: 450px;
    background-image: url(../images/banner.jpg);
    background-size: cover; background-position: center center;

    display: flex;
    justify-content: center; align-items: center;
}

figcaption {
    font-size: 2.5rem; font-weight: 800;
    color: var(--cor-clara);
    padding: 20px 25px; border-radius: 10px;
    
    background: #00B565;
    background: -webkit-linear-gradient(90deg,rgba(0, 181, 101, 1) 0%, rgba(0, 91, 147, 1) 100%);
    background: -moz-linear-gradient(90deg,rgba(0, 181, 101, 1) 0%, rgba(0, 91, 147, 1) 100%);
    background: linear-gradient(90deg,rgba(0, 181, 101, 1) 0%, rgba(0, 91, 147, 1) 100%);
}

/* ----------- Informações Iniciais ------------- */
main {
    width: var(--largura-main);
    margin: 45px auto;
}

section.informacao-inicial {
    position: relative;
    margin-bottom: 50px;
}

section.informacao-inicial::before {
    content: '';
    display: block;
    width: 100px;
    height: 100%;
    position: absolute;
    background-color: red;
}

section.informacao-inicial h1 {
    font-size: 2rem; font-weight: 600;
    color: var(--cor-primaria);
}

section.informacao-inicial .topicos  {
    display: flex; flex-flow: column wrap;
    row-gap: 10px;
    margin-top: 20px;
}

section.informacao-inicial .topicos > div  {
    display: flex; flex-flow: row wrap;
    column-gap: 20px;
}

section.informacao-inicial .topicos > div > div {
    display: flex; flex-flow: row wrap;
    column-gap: 10px;
}

section.informacao-inicial .topicos img { width: 28px; }

section.informacao-inicial .topicos p {
    font-size: 1.1rem; font-weight: 600;
    color: var(--cor-secundaria);
}

/* ------------- Seções Textuais ---------------- */
section { margin-top: 25px; }

section h2 {
    font-size: 1.8rem; font-weight: 600;
    color: var(--cor-escura);
    margin-bottom: 15px;
}

section > p, section li {
    font-size: 1rem;
    color: var(--cor-escura);
    margin-top: 10px;
}

/* -------------- Bibliografias ----------------- */
ul { padding-left: 25px; }
ul a, ul a:visited, ul a:link, ul a:hover, ul a:active { 
    font-weight: 500;
    color: var(--cor-escura);
}